
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.submit-btn{

font-family: Roboto, sans-serif;
font-weight: 300;
font-size: 18px;
color: #fff;
background-color: #0E5667;
padding: 10px 70px;
border: solid #0e5667 1px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.submit-btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #0E5667;
border: solid 1px #0e5667;
}
