<div id="about" class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="/images/banner.jpg"
        class="d-block mx-lg-auto img-fluid"
        alt="Hero img"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h2 class="fw-bold text-body-emphasis lh-1 mb-3">
        Empowering Seamless Travel for Everyone
      </h2>
      <p class="lead" style="font-size: 14;">
        Enmove connects elderly and mobility-impaired individuals with qualified
        travel assistants in their destination.Experience worry-free
        travel with trusted and reviewed travel assistants who not only provide
        care but also act as knowledgeable travel guides.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a
          href="/get/started"
          role="button"
          class="btn btn-primary btn-lg px-4 me-md-2"
        >
          Get Started
        </a>
        <a
          href="https://konnecticare.net/"
          type="button"
          class="btn btn-outline-secondary btn-lg px-4"
        >
          See Blogs
        </a>
      </div>
    </div>
  </div>
</div>
