<!-- head -->
<%- include('partials/head'); %>
<!-- navbar -->
<%- include('partials/client-dash-nav'); %>

<!-- Main Section -->

<main class="p-4" style="background-color: #f5f5f5bf">
  <h3 class="p-3 ms-4">
    Nice to see you,
    <small class="text-body-secondary">abc</small>
  </h3>
  <!-- Contact text icon size is 24px -->
  <div class="d-flex">
    <div class="p-2 w-75 ms-3">
      <h3 class="p-3">Contact trusted and experience travel assistance</h3>

      <h5 class="p-3">
        <img src="/images/letter-a.png" alt="" /> View profile and contact to
        discuss your needs
      </h5>

      <h5 class="p-3">
        <img class="pe-2" src="/images/letter-b.png" alt="" />Agree time and
        rates through chat
      </h5>

      <h5 class="p-3">
        <img src="/images/letter-c.png" alt="" /> Pay through Enmove platform
        when shift gets completed
      </h5>
    </div>
    <div class="p-2">
      <img
        class="rounded-circle float-start"
        src="/images/random-user-1.jpg"
        alt=""
      />
      <img class="rounded-circle" src="/images/random-user-2.jpg" alt="" />
      <img class="rounded-circle" src="/images/random-user-4.jpg" alt="" />
      <span class="p-4"></span>
      <img class="rounded-circle" src="/images/random-user-5.jpg" alt="" />
      <img class="rounded-circle" src="/images/random-user-7.jpg" alt="" />
      <img class="rounded-circle" src="/images/random-user-8.jpg" alt="" />
    </div>
  </div>
</main>

<!-- new user dashboard -->

<div class="newuser-container d-flex p-5">
  <div class="left-container overflow-auto">
    <h4 class="caption">Modify search</h4>
    <div class="form-input-group">
      <form role="search">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" />
        </div>

        <hr />
        <div class="filter-type carer-preference">
          <p class="caption">Travel Assistant Preference</p>
          <div class="radio-item-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="genderRadio"
                id="male"
                value="Male"
                checked
              />
              <label class="form-check-label" for="male"> Male </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="genderRadio"
                id="female"
                value="Female"
              />
              <label class="form-check-label" for="female"> Female </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="genderRadio"
                id="nopreference"
                value="nopreference"
              />
              <label class="form-check-label" for="nopreference">
                No Preference
              </label>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary mt-3 ms-4" type="submit">
            Apply Filter
          </button>
        </div>
      </form>
      <hr />
    </div>

    <!--Content Area left banner  -->

    <div class="p-2 content-left-banner rounded" style="border: 1px solid #000">
      <h4 class="mb-3">All Travel Assistant on Enmove are</h4>
      <p class="p-2">
        <img src="/images/video-conference.png" alt="" srcset="" />
        Personally Interviewed & vetted
      </p>
      <p class="p-2">
        <img src="/images/biometric.png" alt="" srcset="" /> DBS and biometric
        ID checked
      </p>
      <p class="p-2">
        <img src="/images/experience.png" alt="" srcset="" /> Well Experienced
      </p>
    </div>
  </div>

  <div class="right-container w-100 ms-5">
    <h4 class="caption">
      Travel assistants in <span class="city-name">xyz, </span>
      <span class="country-name">country</span>
    </h4>

    <!-- carer-card-wrapper -->
    <div class="carer-card-wrapper mb-3 p-3 border border-2 rounded">
      <div class="carer-img d-inline-block me-4">
        <img src="/images/bianca.jpg" class="rounded" height="170px" alt="" />
      </div>
      <div class="carer-card-info d-inline-block">
        <div class="carer-card-info-top d-inline-block">
          <h4 class="d-inline-block">Bianca David</h4>
          <p class="subtitle-last-active">Last active 1 hour ago</p>
        </div>
        <div class="card-list-item">
          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/location.png" alt="" />
            <p class="d-inline-block">
              <span>1 mile</span>
              away • London, W1J
            </p>
          </div>

          <div class="d-line d-inline-block">|</div>

          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/experience.png" alt="" />
            <p class="d-inline-block">
              <span>10 </span>
              years of experience
            </p>
          </div>
        </div>
      </div>
      <div class="carer-card-view-btn text-center">
        <a
          href="http://"
          class="bg-primary text-white rounded p-2 link-underline link-offset-3-hover link-underline-opacity-0"
          >+ View more</a
        >
      </div>
    </div>

    <!-- carer-card-wrapper -->
    <div class="carer-card-wrapper mb-3 p-3 border border-2 rounded">
      <div class="carer-img d-inline-block me-4">
        <img src="/images/bianca.jpg" class="rounded" height="170px" alt="" />
      </div>
      <div class="carer-card-info d-inline-block">
        <div class="carer-card-info-top d-inline-block">
          <h4 class="d-inline-block">Bianca David</h4>
          <p class="subtitle-last-active">Last active 1 hour ago</p>
        </div>
        <div class="card-list-item">
          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/location.png" alt="" />
            <p class="d-inline-block">
              <span>1 mile</span>
              away • London, W1J
            </p>
          </div>

          <div class="d-line d-inline-block">|</div>

          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/experience.png" alt="" />
            <p class="d-inline-block">
              <span>10 </span>
              years of experience
            </p>
          </div>
        </div>
      </div>
      <div class="carer-card-view-btn text-center">
        <a
          href="http://"
          class="bg-primary text-white rounded p-2 link-underline link-offset-3-hover link-underline-opacity-0"
          >+ View more</a
        >
      </div>
    </div>

    <!-- carer-card-wrapper -->
    <div class="carer-card-wrapper mb-3 p-3 border border-2 rounded">
      <div class="carer-img d-inline-block me-4">
        <img src="/images/bianca.jpg" class="rounded" height="170px" alt="" />
      </div>
      <div class="carer-card-info d-inline-block">
        <div class="carer-card-info-top d-inline-block">
          <h4 class="d-inline-block">Bianca David</h4>
          <p class="subtitle-last-active">Last active 1 hour ago</p>
        </div>
        <div class="card-list-item">
          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/location.png" alt="" />
            <p class="d-inline-block">
              <span>1 mile</span>
              away • London, W1J
            </p>
          </div>

          <div class="d-line d-inline-block">|</div>

          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/experience.png" alt="" />
            <p class="d-inline-block">
              <span>10 </span>
              years of experience
            </p>
          </div>
        </div>
      </div>
      <div class="carer-card-view-btn text-center">
        <a
          href="http://"
          class="bg-primary text-white rounded p-2 link-underline link-offset-3-hover link-underline-opacity-0"
          >+ View more</a
        >
      </div>
    </div>

    <!-- carer-card-wrapper -->
    <div class="carer-card-wrapper mb-3 p-3 border border-2 rounded">
      <div class="carer-img d-inline-block me-4">
        <img src="/images/bianca.jpg" class="rounded" height="170px" alt="" />
      </div>
      <div class="carer-card-info d-inline-block">
        <div class="carer-card-info-top d-inline-block">
          <h4 class="d-inline-block">Bianca David</h4>
          <p class="subtitle-last-active">Last active 1 hour ago</p>
        </div>
        <div class="card-list-item">
          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/location.png" alt="" />
            <p class="d-inline-block">
              <span>1 mile</span>
              away • London, W1J
            </p>
          </div>

          <div class="d-line d-inline-block">|</div>

          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/experience.png" alt="" />
            <p class="d-inline-block">
              <span>10 </span>
              years of experience
            </p>
          </div>
        </div>
      </div>
      <div class="carer-card-view-btn text-center">
        <a
          href="http://"
          class="bg-primary text-white rounded p-2 link-underline link-offset-3-hover link-underline-opacity-0"
          >+ View more</a
        >
      </div>
    </div>

    <!-- carer-card-wrapper -->
    <div class="carer-card-wrapper mb-3 p-3 border border-2 rounded">
      <div class="carer-img d-inline-block me-4">
        <img src="/images/bianca.jpg" class="rounded" height="170px" alt="" />
      </div>
      <div class="carer-card-info d-inline-block">
        <div class="carer-card-info-top d-inline-block">
          <h4 class="d-inline-block">Bianca David</h4>
          <p class="subtitle-last-active">Last active 1 hour ago</p>
        </div>
        <div class="card-list-item">
          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/location.png" alt="" />
            <p class="d-inline-block">
              <span>1 mile</span>
              away • London, W1J
            </p>
          </div>

          <div class="d-line d-inline-block">|</div>

          <div class="card-list-item-info-list d-inline-block">
            <img src="/images/experience.png" alt="" />
            <p class="d-inline-block">
              <span>10 </span>
              years of experience
            </p>
          </div>
        </div>
      </div>
      <div class="carer-card-view-btn text-center">
        <a
          href="http://"
          class="bg-primary text-white rounded p-2 link-underline link-offset-3-hover link-underline-opacity-0"
          >+ View more</a
        >
      </div>
    </div>

    <!-- Load more pagination -->
    <div
      class="bd-example-snippet bd-code-snippet d-flex justify-content-center"
    >
      <div class="bd-example m-0 border-0">
        <nav aria-label="Standard pagination example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- chat -->

<!-- Footer Section -->
<%- include('partials/footer'); %>
