<!-- head section-->
<%- include('partials/head'); %>
<!-- navbar section -->
<%- include('partials/navbar'); %>

<!-- Get started section -->
<div class="container mt-5" style="margin-bottom: 350px;">
  <h2 class="text-center mb-4">Get Started</h2>
  <p class="lead text-center">Are you a client or a travel assistant?</p>
  <div class="text-center">
    <a class="btn btn-primary mx-2" href="/client/login"> Client </a>
    <a class="btn btn-primary mx-2" href="/assistant/login">
      Travel Assistant
    </a>
  </div>
</div>

<!-- footer section -->
<%- include('partials/footer') %>
