<!-- head -->
<%- include('partials/head'); %>
<!-- navbar -->
<%- include('partials/navbar'); %>

<!-- Main content -->
<main class="mt-5">
  <div class="d-flex justify-content-around">
    <img
      src="images/overview-banner.jpg"
      class="img-thumbnail w-25 p-3"
      alt=""
    />

    <div class="upload-guidance-section mx-5">
      <h2>Now lets talk about the things want to steer clear of.</h2>
      <div class="d-flex my-5">
        <div>
          <img src="images/information-point.png" alt="" />
          <p class="w-50">
            Providing any misleading or inaccurate information about your
            identity.
          </p>
        </div>

        <div>
          <img src="images/duplicate-user.png" alt="" />
          <p class="w-50">
            Opening duplicate accounts, Remember you can only create one
            account.
          </p>
        </div>

        <div>
          <img src="images/loudspeaker.png" alt="" />
          <p class="w-50">
            Requesting to take the communication outside the platform.
          </p>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-start">
        <a
          href="travel-assistant-profile.html"
          type="submit"
          class="btn btn-primary"
          >Continue</a
        >
        <a href="" class="btn" style="color: blue">Back</a>
      </div>
    </div>
  </div>
</main>

<!-- footer -->
<%- include('partials/footer'); %>
