
/* .form-container {
    /* margin: auto; 
    width: 50%;
    margin: auto;
    margin-bottom: 10%;
}

.form-heading {
    text-align: center;
    color: #0E5667;
}

.label-color {
    color: #0E5667;
}

.btn-submit-color {
    color: #fff;
    background-color: #0E5667;

} */